<!doctype html>
<html>

<head>
    <title>Todo</title>
</head>

<body>

    <header>

    </header>

    <main>
        <div>
            <h1>{{ todolist.name }}</h1>
            <p><a href="{% url 'edit_todo_list' id=todolist.id %}">Edit</a></p>
            <p><a href="{% url 'delete_list' id=todolist.id %}">Delete</a></p>
            <h2>Tasks</h2>

            <table>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
                {% for task in todolist.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_edit' id=task.id %}">{{ task.task }}</a></td>
                    <td>{{ task.due_date }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </main>

</body>

</html>