<!doctype html>
<html>

<head>
    <title>Todos</title>
</head>

<body>

    <header>

    </header>

    <main>
        <h1>My Lists</h1>
        <a href="{% url 'create_todo_list' %}">Create a new list</a>
        <a href="{% url 'todo_item_create' %}">Create a new item</a>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of items</th>
            </tr>
            {% for list in the_todolists %}
            <tr>
                <td>
                    <a href="{% url 'todo_list_detail' list.id%}">{{ list.name }}</a>
                </td>
                <td>{{ list.items.count }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>

</body>

</html>